---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<!--{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}-->

<h2>Postgraduate Tutoring - Wellington ICT Graduate School</h2>
<h3>Master of Software Development Programme</h3>
<b>2021</b>
<ul>
  <li>SWEN501	- 	Professional Programming Skills</li>
  <li>SWEN502	-	Software Development Studio 1</li>
  <li>SWEN504	-	Software Development Studio 2</li>
</ul>
<b>2020</b>
<ul>
  <li>SWEN501	- 	Professional Programming Skills</li>
  <li>SWEN502	-	Software Development Studio 1</li>
  <li>SWEN504	-	Software Development Studio 2</li>
</ul>
