---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<!--{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}-->

<h2 style="color:#035B2D">Postgraduate Tutoring - Wellington ICT Graduate School</h2>
<b>Master of Software Development Programme</b>
</br>
<b>2021</b>
<ul>
  <li>SWEN501	- Professional Programming Skills <a href="/sitemap"> (tutoring schedule)</a></li>
  <li>SWEN502	-	Software Development Studio 1</li>
  <li>SWEN504	-	Software Development Studio 2</li>
</ul>
<b>2020</b>
<ul>
  <li>SWEN501	- 	Professional Programming Skills</li>
  <li>SWEN502	-	Software Development Studio 1</li>
  <li>SWEN504	-	Software Development Studio 2</li>
</ul>
<h2 style="color:#035B2D">Undergraduate Tutoring - Victoria University of Wellington</h2>
<b>2020</b>
<ul>
  <li>SWEN221	-	Software Development</li>
</ul>
<b>2019</b>
<ul>
  <li>COMP103	-	Introduction to Data Structures and Algorithms</li>
  <li>COMP102	-	Introduction to  Computer Program  Design</li>
</ul>
